<h1>Bem vindo ao Gerenciamento de Atividade</h1>

<% if current_user %>
  <p>Ola <%= current_user.nome %>!</p>

  <a href="/turmas/new">Criar Turma</a>
  <a href="/turmas">Listar Turmas</a>
  <br>
  <br>
  <a href="/disciplinas/new">Criar Disciplina</a>
  <a href="/disciplinas">Listar Disciplinas</a>
  <br>
  <br>
  <a href="/alunos/new">Criar Aluno</a>
  <a href="/alunos">Listar Alunos</a>

  <p> <%= link_to "Logout", destroy_user_session_path, 'data-turbo-method': :delete %> </p>

<% else %>
  <p> <%= link_to "Login", new_user_session_path %> </p>
  <p> <%= link_to "Sign up", new_user_registration_path %> </p>
<% end %>