<div id="<%= dom_id turma %>">
  <p>
    <strong>Letra turma:</strong>
    <%= turma.letra_turma %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= turma.ano %>
  </p>

  <p>
    <strong>Ano letivo:</strong>
    <%= turma.ano_letivo %>
  </p>

</div>
