<h1>Editing atividade</h1>

<%= link_to "Voltar para a home", "/" %>
<br>


<%= render "form", atividade: @atividade %>

<br>

<div>
  <%= link_to "Show this atividade", @atividade %> |
  <%= link_to "Back to atividades", atividades_path %>
</div>
