<div id="<%= dom_id avaliacao_aluno %>">
  <p>
    <strong>Pontos:</strong>
    <%= avaliacao_aluno.pontos %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= avaliacao_aluno.observacoes %>
  </p>

</div>
