<h1>Editing avaliacao aluno</h1>

<%= render "form", avaliacao_aluno: @avaliacao_aluno %>

<br>

<div>
  <%= link_to "Show this avaliacao aluno", @avaliacao_aluno %> |
  <%= link_to "Back to avaliacao alunos", avaliacao_alunos_path %>
</div>
