<h1>New avaliacao aluno</h1>

<%= link_to "Voltar para a home", "/" %>
<br>

<%= render "form", avaliacao_aluno: @avaliacao_aluno %>

<br>

<div>
  <%= link_to "Back to avaliacao alunos", avaliacao_alunos_path %>
</div>
